*{
    margin: 0;padding: 0;
}

body{
    /* min-width: 1200px; */
    /* width: 100%; */
}


.navbar{
    box-shadow: 0 5px 40px -20px black;
    position: fixed;
    top:0px;
    right: 0px;
    left:0px;
    height: 80px;
    background-color: white;
    z-index:1000;
    padding: 0px 20px;
}
.navbar .nav{
max-width: 1200px;   /to put in center of the page/
min-width:1200px;
position: relative;
margin:  auto;
height: 80px;
display: flex;
justify-content: space-between;
}
.navbar .nav .left{
    display: flex;
    align-items: center;
}
.navbar .nav .logo{
display: block;
height: 50px;
margin-right: 16px;
 
/* transition: transform 0.3s cubic-bezier(0.075 ,0.82,0.165,1); */
transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.left .logo:hover{
    transform: scale(1.1);
}
 .navbar .locationdiv{
    display: flex;
    position: relative;
    align-items: center;
    margin-left: 30px;
    height: 30px;
     cursor: pointer;
     margin-bottom: -1px;
     padding-right: 10px;
     font-size: 14px;
 }
 .locationdiv .other{
    font-weight: 700;
    color: #3d4152;
    float: left;
    padding-bottom: 2px;
    border-bottom: 2px solid #3d4152;
 }
 .locationdiv .other:hover{
    color: #fc8019;
    border-bottom: #fc8019;
    border-bottom: 2px solid #fc8019;

 } 
 
 .locationdiv .Location{
    display: block;
    font-weight: 300;
    padding-left: 5px;
    margin-left: 5px;
    color: #686b78;
 }
 .locationdiv .arrowdown{
    position: absolute;
    top: 50%;
    right: -6%;
    transition:translateY(-50%);
    font-style: 15px;
    color: #fc8019;
    font-weight: 700;
 }
 .nav .Right{
  position: relative;
  
 }
 .nav .Right .items {
    display: flex;
align-items: center;

 }
.Right .items li{
    list-style: none;
    
    margin-right: 36px;
    color: #3d4152;
    font-size: 16px;
    font-weight: 500;


}
.nav .items{
    display: flex;
    align-items: center;
    padding: 28px;
    position: relative;
    height: 30px;
    cursor: pointer;
    

}
.nav .items a{
    display: flex;
    text-align: center;
    text-decoration: none;
    color: #3d4152;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
}

.nav .items a:hover{
    color: #fc8019;
}
.nav .items a span{
    padding: 11px;
}

.belownav{

    display: flex;
    justify-content: space-between;
    box-shadow: 0 5px 40px -20px black;
    
}

ul.navlist a{
  padding: 3px;
}

ul.navlist{
    display: flex;
    /* text-align: center; */
    /* text-decoration: none; */
    color: #3d4152;
    font-size: 16px;
    font-weight: 500;
    /* align-items: center; */
}
ul.navlist p{
    margin-top: 2px;
}

ul.navlist li{
align-items: center;
margin: 2px 2px;
}
.belownav {
 color:#3d4152;
 margin-top: 5px;
 
}
.restaurant-list {
    margin-bottom: 85px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    justify-content: space-between;
    padding-top: 39px;
    margin-top: 25px;
  }
  
  .restaurant-list .place-link {
    background: #fff;
    display: block;
    text-decoration: none;
    color: inherit;
  }
  .restaurant-list .list-item { 
    padding: 25px 25px 57px;
    border: 1px solid #fff;
    contain: content;
  }
  .restaurant-list .list-item:hover {
    border-color: #d3d5df;
    box-shadow: 0 4px 7px 0 rgb(218 220 230 / 60%);
  }
  .restaurant-list .item-content {
    width: 254px;
    position: relative;
  }
  .top-img {
    background: #eef0f5;
    width: 254px;
    height: 160px;
    position: relative;
  }
  .top-img img {
    opacity: 1;
  }
  .status {
    position: absolute;
    left: -8px;
    top: 0;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    padding: 5px 9px 4px;
    max-width: 50%;
    text-transform: uppercase;
  }
  .status::before {
    position: absolute;
    bottom: -9px;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-color: inherit;
    left: 0;
    border-width: 9px 0 0 9px;
  }
  
  .place-name-div {
    margin-top: 14px;
  }
  .place-name-div .name {
    font-size: 17px;
    font-weight: 500;
    /* to bring text in next line */
    word-break: break-word;
  }
  .place-name-div .food-items {
    color: #686b78;
    font-size: 13px;
    margin-top: 4px;
    font-weight: 300;
  }
  .info-div {
    display: flex;
    align-items: center;
    margin-top: 18px;
    font-size: 12px;
    justify-content: space-between;
    color: #535665;
    font-weight: 300;
  }
  .info-div .rating {
    background-color: #db7c38;
    color: #fff;
    height: 20px;
    width: 36px;
    padding: 0 5px;
    font-weight: 400;
    display: flex;
    align-items: center;
  }
  .icon-star {
    font-size: 10px;
    margin-right: 4px;
    position: relative;
    top: -1px;
  }
  .offer-div {
    border-top: 1px solid #e9e9eb;
    padding-top: 14px;
    margin-top: 14px;
    color: #8a584b;
    display: flex;
    align-items: center;
    font-weight: 600;
  }
  .offer-div .icon-offer-filled {
    font-size: 16px;
    width: 20px;
    height: 16px;
    margin-right: 4px;
  }
  
  .offer-div .offer-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
  }
  .offer-text .fa-tags {
    margin-right: 2px;
  }
  
  .place:hover .quick-view {
    visibility: visible !important;
  }
  
  .quick-view {
    color: #686b78;
    font-size: 13px;
    visibility: hidden;
    border-top: 1px solid #e9e9eb;
    padding-top: 14px;
    margin-top: 14px;
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 14px;
  }
  
  .quick-view .view-btn {
    color: #5d8ed5;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
  }







 
  

  
/* footer */



footer {
    margin-top:250px;
    background-color: #000000;
    padding: 50px 0;
    font-size: 16px;
    color: rgb(114, 109, 109);
    font-weight: 600;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  
  
  h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
  ul li a {
    color: #adaaaa;
    font-weight: 450 ;
  }
  
  ul li a:hover {
    color: #ff5722;
  }
  
  .app-buttons li {
    display: inline-block;
    margin-right: 10px;
  } 
   .app-buttons li a:hover{
   border-color:1px solid #fc8019;
   cursor: pointer;
   }
  .footer-bar {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
  }
  
  hr {
    border-color: #d9d9d9;
    margin: 40px 0;
  }  
  p {
    font-size: 14px;
    color: #999;
  }
  
  /* new */

  .item-bar {
    margin-top: 98px;
    display: flex;
    justify-content: space-between;
}
.item-bar .number {
    margin-left: 45px;

  
}
.filters {
    display: flex;
    float: inline-end;
    /* justify-content: space-between; */
}

.titl{
    margin: 0 10px;
    color: #3d4152;
    cursor: pointer;
    
}  
.titl:hover{
    color:#fc8019;
    /* font-style: italic; */
}
.number:hover{
    cursor:pointer;    
}

.item-bar {
    border-bottom:#f0f0f0 1px solid ;
}